mixin ya-map(data)
  - const {title, subTitle, description, mapOption, mapFilters} = data
  - const {id, center, zoom, markers} = mapOption
  - const {withFilter, filters} = mapFilters

  section.ya-map&attributes(attributes)
    .container
      +title({tag: "h1", text: title}).title--h1.ya-map__title
      +title({tag: "h2", text: subTitle})
      each text in description
        p!= text
      .ya-map__inner
        .ya-map__map(data-map=id, data-center=center, data-zoom=zoom, data-markers-url=markers)
        .ya-map__message
          p Зажмите ctrl и крутите колесо прокрутки мышки, что бы приблизить карту
      if withFilter
        +map-filter(filters)
